* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, "Liberation Sans", sans-serif;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  /*background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.03);*/
  background-color: #f5f5f5 !important;
  _min-width: 1100px;
  display: block;
}

#body-content {
  background-color: #f5f5f5;
}

.incp-well {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 800px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.incp-well-box {
  position: absolute;
  width: 700px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.incp-well-panel {
  background-color: rgba(255, 255, 255, 1);
  font-size: 16px;
  color: #212529;
}

.incp-well-panel>.header {
  background-color: #333;
  color: #fff;
  padding: 5px;
  font-size: 20px;
}

.incp-well-panel>.body2c {
  border-top: 5px solid #ffc107;
  padding: 40px 0;
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.incp-well-panel>.body2c>.body2c1 {
  width: 160px;
  float: left;
  text-align: center;
  flex: initial;
}

.incp-well-panel>.body2c>.body2c2 {
  font-size: 180%;
  line-height: 150%;
  flex: 1;
  display: block;
}

.incp-well-panel>.status {
  margin: 0;
  padding: 20px;
  line-height: 150%;
  font-size: 120%;
}

.incp-well-panel>.status>div {
  clear: both;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 200%;
}

.incp-well-panel>.status>div:last-child {
  margin-bottom: 0;
}

.incp-well-panel>.status_dark {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 140%;
}

.incp-well-panel>.info {
  background-color: #ffc107;
  color: #383d41;
}

.incp-well-panel a {
  margin: 0;
  text-decoration: none;
}

.incp-well-box>.footer {
  clear: both;
  margin: 10px auto;
  text-align: center;
  color: #343a40;
  font-size: 1.0em;
}


.incp-well-box>.footer a {
  color: #343a40;
}

.incp-ctn-hover:hover {
  cursor: pointer;
}

.incp-ctn-unclick {
  pointer-events: none;
}

.incp-button-icon-12 {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.incp-formtable,
.incp-formtable table {
  width: 100%;
}

.incp-formtable table.valign-middle td,
.incp-formtable table.valign-middle th {
  vertical-align: middle !important;
}

.incp-formtable-row-line,
.incp-formtable-tr-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.incp-formtable-tr-line:last-child {
  border-bottom: 0 !important;
}

.incp-formtable>tbody>tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.incp-formtable>tbody>tr:last-child {
  border-bottom: 0;
}


.incp-formtable>tbody>tr>td {
  padding: 10px 20px 10px 0;
  vertical-align: top;
}

.incp-formtable>tbody>tr>td:last-child {
  padding-right: 0;
}

.incp-formtable.incp-formtable-title-right>tbody>tr>td:first-child {
  text-align: right;
}

.incp-formtable>tbody>tr>td:first-child {
  font-weight: bold;
}

.incp-formtable tbody>tr.hover:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.incp-formtable table td,
.incp-formtable table th {
  padding: 2px 30px 2px 0;
}

.incp-formtable table td:last-child,
.incp-formtable table th:last-child {
  padding-right: 0 !important;
}

.incp-formtable-space-x0050 td,
.incp-formtable-space-x0050 th {
  padding: 0.50rem 1.00rem 0.50rem 0 !important;
}

.incp-formtable-space-x0100 td,
.incp-formtable-space-x0100 th {
  padding: 1.00rem 2.00rem 1.00rem 0 !important;
}

.incp-formtable .input-group {
  margin-bottom: 0 !important;
}

.btn-default {
  background-color: buttonface !important; 
}
