.hide {
  display: none;
}

#body-content {
  background-color: #f5f5f5;
}

.incp-query-input {
  padding-left: 30px !important;
  background: url(../img/search-16.png) no-repeat 8px;
  background-color: #fff;
  width: 220px;
}

.incp-font-fixspace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em;
}

.incp-font-ok {
  color: #28a745;
}

#incp-topbar {
  padding: 0 15px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #777;
  min-height: 50px;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.incp-topbar-collapse {
  position: relative;
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  white-space: nowrap;
}


.incp-nav {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 0 0 30px;
  float: left;
  min-height: 50px;
  display: inline-block;
  vertical-align: middle;
}

.incp-nav:first-child {
  margin-left: 0;
}

.incp-nav-right {
  float: right !important;
  margin-right: 2px;
}

.incp-nav-right>li:last-child {
  margin-right: 0;
}

.incp-nav>li {
  position: relative;
  padding: 0;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  line-height: 50px;
}

.incp-nav>li:first-child {
  margin-left: 0;
}

.incp-nav>li>a {
  padding: 0 10px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: #777;
  font-size: 16px;
}

.incp-nav>li>a:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.incp-nav>li>a.active {
  color: #000;
  background-color: rgba(0, 0, 0, 0.05);
}

.incp-topbar-logo {
  margin-right: 10px;
  max-height: 40px;
  max-width: 100px;
}

.incp-topbar-brand {
  font-size: 16px;
  font-weight: bold;
}









/** user bar **/

#incp-topbar-userbar>.iam-name {
  font-size: 16px;
  color: #666;
  max-width: 120px;
  margin-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

#incp-topbar-userbar>.iam-photo {
  margin-left: 0px;
}

#incp-topbar-userbar>.iam-photo>img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  padding: 0px;
  background-color: #dfdfdf;
}

#incp-topbar-user-signed-modal {
  padding: 20px;
  top: 2px;
  right: 1px;
  position: absolute;
  z-index: 1000;
  border: 2px solid #999;
  border-radius: 5px;
  text-align: left;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(195, 218, 237);
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 1);
}

#incp-topbar-user-signed-modal .iam-photo {
  width: 96px;
  height: 96px;
  position: relative;
  z-index: 200;
  left: 50%;
  padding: 3px;
  margin: 10px 0 10px -48px;
  border-radius: 50%;
  background-color: #dfdfdf;
}

#incp-topbar-user-signed-modal .iam-name {
  text-align: center;
  font-size: 16px;
  padding: 0 0 10px 0;
}

#incp-topbar-user-signed-modal .iam-btn {
  width: 260px;
  display: block;
  margin: 10px 0;
}

#incp-topbar-user-signed-modal .iam-btn:last-child {
  margin-bottom: 0;
}

#comp-content,
#work-content {
  clear: both;
  margin: 0;
  padding: 0;
}

#work-content .alert {
  padding: 10px;
  margin: 0 0 10px 0;
}

#work-content>.alert {
  margin: 0 10px 10px 10px;
}

#work-content table {
  margin-bottom: 0;
}

#work-content table th,
#work-content table td {}

.incp-boxlet-grp {
  margin: 0 0 10px;
}

.incp-boxlet-grp .lbg-title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

.incp-boxlet {
  border-radius: 5px;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0px 1px 2px 1px #999;
  width: 100%;
  margin-bottom: 20px;
}

.incp-boxlet .lb-title {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0 10px 0;
  margin-bottom: 10px;
}

.incp-boxlet .lb-underline {
  border-bottom: #ccc solid 2px;
}

.incp-boxlet .lb-colbox {
  padding: 5px 10px;
  background-color: #eee;
  border-left: #fff 10px solid;
}

.incp-boxlet .lb-colbox:first-child {
  border-left: 0;
}

.incp-boxlet .lb-colbox .lbc-title {
  font-size: 6px;
  color: #777;
}

.incp-boxlet .lb-colbox .lbc-value {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.incp-boxlet .lb-colbox .lbc-value span {
  font-size: 8px;
  font-weight: normal;
}

.incp-panel-table tr {
  border-bottom: 1px solid #ccc;
}

.incp-panel-table tr:last-child {
  border-bottom: 0;
}

.incp-panel-table td {
  padding: 4px 0;
}

.incp-panel-table td.lpt-title {
  font-weight: bold;
}

.incp-form>.form-group {
  padding: 0 !important;
  margin: 0 !important;
}

.incp-form-group-title {
  margin: 15px 0;
  font-size: 16px;
  color: #999;
  white-space: pre;
}

.incp-form-checkbox {
  margin: 0 20px 0 0;
  padding: 10px 0;
}

.incp-form-box-selector {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 100%;
}

.incp-form-box-selector-item {
  position: relative;
  display: block;
  float: left;
  padding: 5px;
  margin: 0 10px 10px 0;
  background-color: #ECF0F1;
  box-shadow: inset 0px 0px 1px #FFFFCC;
  width: 200px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

.incp-form-box-selector-item:hover {
  outline: #5cb85c solid 3px;
}

.incp-form-box-selector-item.selected {
  outline: #5cb85c solid 3px;
}

.incp-form-box-selector-item.disable {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.incp-form-box-selector-item.disable:hover {
  outline: #a94442 solid 3px;
}

.incp-form-box-selector-item>.disable_close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: #a94442;
  line-height: 100%;
  display: none;
}

.incp-form-box-selector-item.disable>.disable_close {
  display: block;
}

#incp-module-navbar {
  clear: both;
  height: 30px;
  margin-bottom: 10px;
  display: block;
}

#comp-content>#incp-module-navbar {
  padding: 0 10px;
}

.incp-module-nav {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 0 10px 10px;
  float: left;
  min-height: 30px !important;
  display: inline-block;
  vertical-align: middle;
}

.incp-module-nav:first-child {
  margin-left: 0 !important;
}

.incp-module-nav>li {
  position: relative;
  padding: 0;
  margin: 0 10px 0 0;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  line-height: 30px;
  float: left;
  border-radius: 2px;
}

.incp-module-nav>li:first-child {
  /* margin-left: 0; */
}

.incp-module-nav>li>a {
  padding: 0 10px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: #777;
  font-size: 12px;
  border-radius: 2px;
}

.incp-module-nav>li>a:hover {
  padding: 0 10px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: #777;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.1);
}

.incp-module-nav>li.active,
.incp-module-nav>li>a.active {
  background-color: #333;
  color: #fff;
}

.incp-module-nav>li.active>a {
  color: #fff;
}

.incp-module-nav>li.active:after,
.incp-module-nav>li>a.active:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -6px;
  top: 30px;
  width: 0;
  height: 0;
  border-color: #333 transparent transparent transparent;
  border-style: solid;
  border-width: 6px;
}

.incp-module-nav>li.hover,
.incp-module-nav>li>a.hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #777;
}

.incp-module-nav>li.hover_border,
.incp-module-nav>li>a.hover_border {
  border: rgba(0, 0, 0, 0.1) 1px solid;
}

.incp-module-nav>li.primary,
.incp-module-nav>li>a.primary {
  background-color: rgb(0, 120, 231);
  color: #fff;
}

#incp-module-navbar-optools button {
  font-size: 10px;
}

#incp-module-navbar-optools input {
  margin: 0;
  padding: 2px;
  height: 30px;
  font-size: 12px;
  border-radius: 2px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}

.incp-div-h-title {
  padding: 10px 10px 5px 10px;
  font-size: 1.2em;
  line-height: 100%;
}

.incp-div-light {
  clear: both;
  background-color: #fff;
  margin: 0 10px;
  padding: 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}


.incp-btn {
  font-size: 12px;
  border-radius: 2px;
  border: 0;
  padding: 0.5em 1em;
  margin: 0 10px 0 0;
  line-height: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.incp-btn:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.incp-btn-xsmall {
  font-size: 70%;
}

.incp-btn-small {
  font-size: 85%;
}


.incp-btn:last-child {
  margin-right: 0;
}

.incp-btn-primary,
.incp-btn-primary a {
  color: #fff !important;
  background-color: rgb(0, 120, 231);
}








/* ext::app */

.incp-app-list-qry-input {
  padding: 5px 5px 5px 30px;
  background: url(../img/search-16.png) no-repeat 8px;
  width: 300px;
}

.incp-app-specset-gn-box {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 5px;
}

.incp-app-specset-gn-box {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 5px;
}

.incp-app-specset-gn-box .head {
  padding: 0 0 5px 0;
  position: relative;
  height: 30px;
}

.incp-app-specset-gn-box .title {
  left: 0;
  font-size: 15px;
  font-weight: bold;
}

.incp-app-specset-gn-box .options {
  position: absolute;
  /*top: 0;*/
  right: 0;
}

.incp-app-specset-gn-box .body {
  padding: 5px;
  background-color: #fff;
}

.incp-app-specset-gn-box .body td {
  padding: 3px;
}

.incp-app-specset-gn-box pre>code {
  white-space: pre-wrap;
  display: block;
}

#incp-appset-bound {
  /*border-color: #f5f5f5;*/
  border-radius: 5px;
  padding: 10px;
  background-color: #f5f5f5;
}

#incp-appset-bound .lib-ctn {
  width: 100%;
}

#incp-appset-bound .lib-ctn tr th {
  padding-bottom: 10px;
}

#incp-appset-bound .lib-ctn tr td {
  padding: 10px;
}

#incp-appset-bound .bound-item {
  border: 1px solid #fff;
}

#incp-appset-bound .bound-item:hover {
  border: 1px solid #5cb85c;
}

#incp-appset-bound .lib-header {
  background-color: #f5f5f5;
}

#incp-appset-bound .lib-header-subtitle {
  font-size: 16px;
}

#incp-appset-bound .lib-header-title {
  font-size: 18px;
  padding: 5px 0;
}

#incp-appset-bound .lib-comment {
  font-size: 12px;
}

#incp-appset-bound .lib-tbody {
  background-color: #fff;
}

#incp-appset-bound .box-item:hover {
  cursor: pointer;
}

pre {
  margin: 0;
  padding: 0;
  border: 0px;
}

pre code {
  margin: 0;
  padding: 0;
  border: 0px;
  font-size: 12px !important;
  line-height: 120% !important;
}

button {
  min-width: 30px;
}

.button-xsmall {
  font-size: 70% !important;
}

.button-small {
  font-size: 85% !important;
}

.button-large {
  font-size: 110% !important;
}

.button-xlarge {
  font-size: 125% !important;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65);
  /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60);
  /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20);
  /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221);
  /* this is a light blue */
}


.incp-div-label-block-frame-inline {
  left: 0px;
  right: 0px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 10px;
}

.incp-div-label-block {
  padding: 10px;
  position: relative;
  flex: 1 0 160px;
}

.incp-div-label-block>.name {
  font-size: 12px;
  color: #868e96;
}

.incp-div-label-block>.name-strong {
  font-size: 16px;
  font-weight: bold;
}

.incp-div-label-block>.value {
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #464a4e;
}

#incp-podnew-charge-estimate-value {
  padding: 10px 0;
  font-size: 30px !important;
  color: #5cb85c !important;
}

#incp-podentry-index {
  /*position: absolute;*/
  left: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#incp-podentry-overview {
  position: relative;
  flex: 2 0 800px;
  margin-bottom: 10px;
}

#incp-podentry-sidebar {
  position: relative;
  flex: 4 1 800px;
  margin-bottom: 10px;
}

.incp-podentry-stats-box {
  /*position: absolute;*/
  left: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.incp-podentry-stats-item {
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
  margin: 0 10px 20px 10px;
  flex: 1 0 400px;
  text-align: center;
}

.incp-podentry-stats-item:empty {
  padding: 0;
  margin: 1px 10px;
  height: 0;
  border: none;
}

.incp-footer {
  clear: both;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  color: #666;
  /*color: #248bfb;*/
}

.incp-footer a {
  color: #666;
  font-weight: bold;
}

.incp-footer .url-info {
  font-size: 1.1em;
}



/* reset */

.card {
  margin-bottom: 10px;
}