/*
body {
  margin: 0 auto;
  min-width: 900px;
  padding: 0;
  font-size: 16px;
}

#comp-content {
  padding: 10px 20px 10px 20px;
}

.inops-query-input-icon {
  padding: 5px 5px 5px 30px;
  background: url(../img/search-16.png) no-repeat 8px; 
  width: 300px;
}

.inops-font-mono {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em;
}




.inops-boxlet-grp {
  margin: 0 0 10px;
}
.inops-boxlet-grp .lbg-title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}
.inops-boxlet {
  border-radius: 5px;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0px 1px 2px 1px #999;
  width: 100%;
  margin-bottom: 20px;
}

.inops-boxlet .lb-title {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0 10px 0;
  margin-bottom: 10px;
}
.inops-boxlet .lb-underline {
  border-bottom: #ccc solid 2px;
}
.inops-boxlet .lb-colbox {
  padding: 5px 10px;
  background-color: #eee;
  border-left: #fff 10px solid;
}
.inops-boxlet .lb-colbox:first-child {
  border-left: 0;
}
.inops-boxlet .lb-colbox .lbc-title {
  font-size: 6px;
  color: #777;
}
.inops-boxlet .lb-colbox .lbc-value {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.inops-boxlet .lb-colbox .lbc-value span {
  font-size: 8px;
  font-weight: normal;
}

.inops-form > .form-group {
  padding: 0 !important;
  margin: 0 !important;
}

.inops-form-group-title {
  margin: 15px 0;
  font-size: 16px;
  color: #999;
  white-space: pre;
}
.inops-form-checkbox {
  margin: 0 20px 0 0;
  padding: 10px 0;
}



#inops-topbar {
  padding: 0 15px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #777;
  min-height: 50px;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.inops-topbar-collapse {
  position: relative;
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  white-space: nowrap;
}

.inops-topnav {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 0 0 30px;
  float: left;
  min-height: 50px;
  display: inline-block;
  vertical-align: middle;
}

.inops-topnav:first-child {
  margin-left: 0;
}

.inops-topnav > li {
  position: relative;
  padding: 0;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  line-height: 50px;
}

.inops-topnav > li:first-child {
  margin-left: 0;
}

.inops-topnav > li > a {
  padding: 0 20px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: #777;
  font-size: 16px;
}

.inops-topnav > li > a:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.inops-topnav > li > a.active {
  color: #000;
  background-color: rgba(0, 0, 0, 0.05);
}

.inops-topnav-right {
  float: right !important;
  margin-right: 2px;
}

.inops-topnav-logo {
  margin-right: 10px;
  max-height: 30px;
  max-width: 100px;
}

.inops-topnav-brand {
  font-size: 16px;
  font-weight: bold;
}


.inops-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.inops-nav > li {
  position: relative;
  display: block;
}
.inops-nav > li > a {
  position: relative;
  display: block;
  padding: 5px 10px;
}
.inops-nav > li > a:hover,
.inops-nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
  color: #111; 
}

.inops-nav-pills > li {
  float: left;
}
.inops-nav-pills > li + li {
  margin-left: 2px;
}
.inops-nav-pills > li.active-default > a,
.inops-nav-pills > li.active-default > a:hover,
.inops-nav-pills > li.active-default > a:focus {
  color: #fff; 
  background-color: #777;
}
.inops-nav-pills > li.arrow-right:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 100%;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #777;
  border-style: solid;
  border-width: 10px;
}

*/
